.grid-generator-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 50px;
    max-width: 950px;
    padding: 50px;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

td {
    border: 1px solid gray;
    vertical-align: middle;
    text-align: center;
    height: 60px;
}

.grid-configuration {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.grid-configuration__options {

    display: flex;
    gap: 6px;

    & button {
        height: 40px;
        background-color: var(--primary-color);
        font-weight: bold;
        color: var(--primary-color-contrast);
        border: none;
        border-radius: 6px;
        padding: 0 25px;
        text-transform: uppercase;
        cursor: pointer;

        &:disabled {
            cursor: not-allowed;
            opacity: 0.75;
        }

        &:hover:not(:disabled) {
            opacity: 0.9;
        }
    }
}

.grid-letter-counter {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.grid-bias-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;

    & label {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        color: var(--primary-color);
    }

    & input {
        padding: 0 10px;
        height: 50px;
        outline: 0;
        border-radius: 6px;
        border: 1px solid var(--primary-color);

        &.ng-invalid {
            border-color: red;
        }
    }
}

.grid-status-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    gap: 15px;
}

.grid-live-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 4px;
    padding: 0 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.status-indicator {
    width: 12px;
    height: 12px;
    border-radius: 30px;
    background-color: red;

    &.live {
        background-color: green;
    }
}

.grid-code-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 8px;
    padding: 16px 48px;
    text-transform: uppercase;
    border: 1px solid var(--primary-color);
}