<div class="grid-generator-wrapper">
    <div class="grid-configurat"></div>
<div class="grid-wrapper">
    <table>
        <thead>
            <th></th>
            <th *ngFor="let gridRow of grid; let index=index;">{{ index }}</th>
        </thead>
        <tbody>
            <tr *ngFor="let gridRow of grid; let index=index">
                <td> <b>{{ index }}</b> </td>
                <td *ngFor="let gridColumn of gridRow">
                    {{ gridColumn }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="grid-letter-counter">
    <div *ngFor="let letter of randomCharsGenerated | keyvalue" class="counter">
        <b>{{ letter.key }}</b>: {{ letter.value }}
    </div>
</div>
</div>