.grid-generator-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid gray;
    vertical-align: middle;
    text-align: center;
    height: 60px;
    width: 60px;

    /* Remove if Y indicators get deleted */
    &:first-child {
        border: none;
    }
}

.grid-letter-counter {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}